.carrossel {
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carrossel-container {
  display: flex;
}

.carrossel-container img {
  flex: 0 0 auto;
  width: 400px;
  margin-right: 10px;
  scroll-snap-align: center;
}
